
.imagen{
	width: 100%
}

.imagen img {
	width: 100%;
}

.contenedor {
	width: 80%;
	margin: auto;
  max-width: 1000px;
	overflow: hidden;

}

.galeria {
	width: 100%
	margin: auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

body {
  width: 100%;
	background-color: #F8F8FF;
	font-family:'Roboto', sans-serif;
	text-align: center;
	margin-top: 20px
	font-size: 18px;
}
