
.imagen{
	width: 100%
}

.imagen img {
	width: 100%;
}

.galeria {
	width: 100%
	margin: auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

body {
	background-color: #F8F8FF;
	font-family:'Roboto', sans-serif;
	text-align: center;
	margin-top: 20px
}

h1 { 
     color: #282923;
     font-size: 24px;
 }

 h2 { 
     color: #282923;
     font-size: 18px;
     font-family: 
 }

p { 
	color: #282923;
    font-size: 16px; 
}

h3 { 	color: #282923;
	    line-height: 20%;

}

h4 {
	  
	    color: #282923;
	    line-height: 20%;
	    padding-bottom: 70px;

	}






